process {
    tag = {"$sid"}
    publishDir = {"./results_conn/$sid/$task.process"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
}

params {
    help=false
    root=false
    template=false

    run_commit=true
    run_afd_rd=true
    use_similarity_metric=true

    length_weighting=false
    sh_basis="descoteaux07"

    // **COMMIT options**//
        b_thr=50
        nbr_dir=500
        ball_stick=false
        para_diff="1.7E-3"
        perp_diff="1.19E-3 0.85E-3 0.51E-3 0.17E-3"
        iso_diff="1.7E-3 3.0E-3"

    // **Number of processes per tasks**//
        register_processes=4
        processes_commit=4
        processes_afd_rd=4
        processes_avg_similarity=8
        compute_connectivity=4
}
